<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list [@slideInOut]>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
        <a mat-list-item routerLink="/users">Usuários</a>
        <a mat-list-item routerLink="/reports">Relatórios</a>
        <a mat-list-item routerLink="/my-user">Meu Perfil</a>
        <a mat-list-item routerLink="/settings" *ngIf="isAdmin()">Configurações do Sistema</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Dashboard Admin</span>
        <span class="spacer"></span>
        <button mat-button (click)="logout()">Logout</button>
      </mat-toolbar>
      <div class="content" [@fadeInOut]>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  