<div id="formulario">
  <h1 class="titulo-principal">Simulação de seguro</h1>
  <div class="form">
    <form (ngSubmit)="onSubmit()" [formGroup]="formularioSeguroForm">
      <h2 class="subtitulo">Dados familiares</h2>
      <div>
        <label class="select">
          <select
            formControlName="estadoCivil"
            placeholder="Estado civil"
            required
          >
            <option value="Não Informado" disabled selected>
              Estado civil
            </option>
            <option value="Casado">Casado (a)</option>
            <option value="Solteiro">Solteiro (a)</option>
          </select>
        </label>
      </div>
      <div *ngIf="mostrarCamposConjuge">
        <label>
          <input
            type="text"
            (focus)="onFocus($event)"
            formControlName="dataCasamento"
            placeholder="Data do casamento"
          />
        </label>
        <label>
          <input
            type="text"
            formControlName="ConjugeNome"
            placeholder="Nome do cônjuge"
          />
        </label>
        <label>
          <input
            type="text"
            (focus)="onFocus($event)"
            formControlName="conjugeDataNasc"
            placeholder="Nascimento do cônjuge"
          />
        </label>
      </div>
      <div>
        <label class="select">
          <select
            formControlName="possuiFilhos"
            placeholder="Possui filhos?"
            required
          >
            <option value="Não Informado" disabled selected>
              Possui filhos?
            </option>
            <option value="Sim">Sim</option>

            <option value="Nao">Não</option>
          </select>
        </label>
      </div>

      <span class="msg-erro-form" *ngIf="err !== ''">{{ err }}</span>

      <div class="btn">
        <button type="submit" class="img-button">
          Prosseguir
          <img src="/assets/imgs/cadastro/icones/icone-prosseguir.png"/>
        </button>
      </div>
    </form>
  </div>
</div>
