<h2 class="titulo">Term Life</h2>
<div class="voce-pode-personalizar">
    <div class="item">
        Você pode personalizar
        <img src="/assets/imgs/cadastro/icone-seta2.jpg" alt="">
    </div>
    <div class="opcao" class="opcao">Prazo para Term Life</div>
    <select class="opcao" name="PrazoTermLife" id="PrazoTermLife" (onchange)="AtualizarProdutos()" required>
        <option value="10">10 anos</option>
        <option value="15">15 anos</option>
        <option value="20">20 anos</option>
        <option value="25">25 anos</option>
        <option value="30" selected>30 anos</option>
    </select>
</div>
