<div id="formulario">
  <h1 class="titulo-principal">Simulação de seguro</h1>
  <div class="form">
    <form id="FormAuto">
      <h2 class="subtitulo">Gerando relatório</h2>

      <div class="loading">
        <div class="lds-ring">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div class="msg-info">
        Os dados estão sendo processados para gerar o relatório e cálculos
        previdenciários.
      </div>

      <div class="btn">
        <button type="button" class="img-button bg-cinza" (click)="cancelar()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
