<div id="formulario">
  <h1 class="titulo-principal">Simulação de seguro</h1>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="enviar()">
      <input type="text" name="id" hidden [value]="id">

      <h2 class="subtitulo">Dados sobre saúde</h2>
      <div>
        <label class='select'>
          <select formControlName="problemaSaude">
            <option value="" selected disabled>Problemas de saúde</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </label>
      </div>
      <div>
        <label class='select'>
          <select formControlName="tomaRemedio">
            <option value="" selected disabled>Toma algum remédio?</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </label>
      </div>
      <div>
        <label class='select'>
          <select formControlName="fuma">
            <option value="" selected disabled>Fuma produtos com nicotina?</option>
            <option value="Sim">Sim</option>
            <option value="Não">Não</option>
          </select>
        </label>
      </div>
      <h2 class="subtitulo">Dado geral</h2>
      <div>
        <label class='select'>
          <select formControlName="maiorPrioridade">
            <option selected disabled value="">Maior preocupação/prioridade</option>
            <option value="Educação dos filhos">Educação dos filhos</option>
            <option value="Não me aposentar como planejo">Não me aposentar como planejo</option>
            <option value="Alguma doença grave ou acidente">Alguma doença grave ou acidente</option>
            <option value="Não realizar sonhos ou projetos">Não realizar sonhos ou projetos</option>
          </select>
        </label>
      </div>

      <span class="msg-erro-form" *ngIf="err !== ''">{{ err }}</span>

      <div class="btn">
        <button type="submit" class="img-button">
          Finalizar
          <img src="/assets/imgs/cadastro/icones/icone-prosseguir.png"/>
        </button>
      </div>
    </form>
  </div>
</div>

