<!--******************** INICIO HEADER ********************-->
<div id="header-site">
  <div class="header-site">
    <div class="opcoes">
      <div class="btn-voltar">
        <a href="#" onclick="window.history.back()">Voltar</a>
      </div>
    </div>
  </div>
</div>
<!--******************** FIM HEADER ********************-->

<!--******************** INICIO DO COMPONENTE *******************-->

<router-outlet></router-outlet>

<!--******************** FIM DO COMPONENTE *******************-->

<!--******************** INICIO FOOTER ********************-->

<footer id="footer-site">
  <div class="logo-rodape">
    <img src="/assets/imgs/cadastro/logo3.png" alt="" />
  </div>
  <div class="msg">
    Nosso propósito é Dxpertar nas pessoas a importância de se preparar
    financeiramente protegendo quem elas mais amam.
  </div>
  <div class="copyright">Todos direitos autorais reservados &copy; 2023</div>
</footer>

<!--******************** FIM FOOTER ********************-->
