<h2 class="titulo">Dados Pessoais</h2>
<div class="box-info">
    <div class="info">
        <p class="label">Nome completo</p>
        <p class="item">{{relatorio?.nome ?? ""}}</p>
    </div>

    <div class="info">
        <p class="label">Nascimento</p>
        <p class="item">{{relatorio?.nascimento ?? ""}}</p>
    </div>

    <div class="info">
        <p class="label">Idade</p>
        <p class="item">{{relatorio?.idade ?? ""}}</p>
    </div>

    <div class="info">
        <p class="label">Filhos</p>
        <p class="item">{{relatorio?.quantidadeFilhos ?? "---"}}</p>
    </div>
</div>