<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart"></canvas>
</div>


<div class="main-content">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Acompanhamentos</h5>
          <h4 class="card-title">Conteúdo do bloco Acompanhamentos</h4>
        </div>
        <div class="card-body">
          <!-- Conteúdo do bloco Acompanhamentos -->
          <ul>
            <li>Acompanhamento 1</li>
            <li>Acompanhamento 2</li>
            <li>Acompanhamento 3</li>
          </ul>
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Últimos Relatórios</h5>
          <h4 class="card-title">Conteúdo do bloco Últimos Relatórios</h4>
        </div>
        <div class="card-body">
          <!-- Conteúdo do bloco Últimos Relatórios -->
          <ul>
            <li>Relatório 1</li>
            <li>Relatório 2</li>
            <li>Relatório 3</li>
          </ul>
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Maiores Simulações</h5>
          <h4 class="card-title">Conteúdo do bloco Maiores Simulações</h4>
        </div>
        <div class="card-body">
          <!-- Conteúdo do bloco Maiores Simulações -->
          <ul>
            <li>Simulação 1</li>
            <li>Simulação 2</li>
            <li>Simulação 3</li>
          </ul>
          <div class="chart-area">
            <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
            <canvas baseChart id="lineChartExampleWithNumbersAndGrid"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
