<div id="formulario">
  <h1 class="titulo-principal">Simulação de seguro</h1>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="enviar()">
      <input type="text" name="id" hidden [value]="id">

      <h2 class="subtitulo">Dados profissionais</h2>
      <div>
        <label>
          <input type="text" formControlName="profissao" id="" placeholder="Profissão">
        </label>
      </div>
      <div>
        <label class='select'>
          <select formControlName="ocupacao" id="">
            <option value="" selected disabled>Ocupação</option>
            <option value="CLT">CLT</option>
            <option value="Aposentado(a)">Aposentado(a)</option>
            <option value="Profissional Liberal">Profissional Liberal</option>
            <option value="Servidor público">Servidor público</option>
          </select>
        </label>
      </div>
      <div>
        <label>
          <input type="text" formControlName="anosContribuicao" id="" placeholder="Anos de contribuição">
        </label>
      </div>
      <div *ngIf="form.controls['ocupacao'].value === 'Servidor público'">
        <label>
          <input type="text" onfocus="(this.type='date')" formControlName="dataPosse" id="" placeholder="Data da posse" >
        </label>
      </div>
      <div>
        <label class='select'>
          <select formControlName="regimeContratacao" id="">
            <option value="" selected disabled>Regime de contratação</option>
            <option value="Integralidade">Integralidade</option>
            <option value="Limitado ao teto do INSS">Limitado ao teto do INSS</option>
            <option value="Proporcionalidade">Proporcionalidade</option>
          </select>
        </label>
      </div>

      <span class="msg-erro-form" *ngIf="err !== ''">{{ err }}</span>

      <div class="btn">
        <button type="submit" class="img-button">
          Prosseguir
          <img src="/assets/imgs/cadastro/icones/icone-prosseguir.png"/>
        </button>
      </div>
    </form>
  </div>
</div>

