<div id="formulario">
    <h1 class="titulo-principal">Simulação de seguro</h1>
    <div class="form">
      <form (submit)="enviarFormulario()" [formGroup]="form">
        <h2 class="subtitulo">Dados familiares</h2>
        <div>
          <label>
            <input type="text" formControlName="quantidadeFilhos" placeholder="Quantos filhos?">
          </label>
        </div>
        <div>
          <label>
            <input type="text" formControlName="filhosMaiores" placeholder="Filhos menores de 21 anos">
          </label>
        </div>
      </form>
        <div id="bloco-add-filho" *ngFor="let filho of filhos">
          <div class="info-filho">
            <label>
              <input type="text" [(ngModel)]="filho.nome" placeholder="Nome do filho">
            </label>
          </div>
          <div>
            <label>
              <input [type]="filho.dtNasc ? 'date' : 'text'" [(ngModel)]="filho.dtNasc" (focus)="onFocus($event)" placeholder="Data de nascimento">
            </label>
          </div>
        </div>


        <div class="add-dados-filho" (click)="adicionarFilho()">
          + Adicionar dados de mais um filho
        </div>

        <span class="msg-erro-form" *ngIf="err !== ''">{{ err }}</span>

        <div class="btn">
          <button type="submit" class="img-button" (click)="enviarFormulario()">
            Prosseguir
            <img src="/assets/imgs/cadastro/icones/icone-prosseguir.png"/>
          </button>
        </div>
    </div>
  </div>
  