<div class="logo" data-tilt aTilt>
  <a [routerLink]="index" class="simple-text logo-mini js-tilt">
    <div class="logo-img">
      <img src="./assets/imgs/login/logo1.png" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
      <a [routerLink]="[menuItem.path]">
        <i class="{{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
    <li>
      <a (click)="deslogar()">
        <i class="fa-solid fa-arrow-right-from-bracket" (click)="deslogar()"></i>
        <p>Sair</p>
      </a>
    </li>
  </ul>
</div>
