:host * {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-weight: normal;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

:host ol,
:host ul {
  list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

:host table {
  border-collapse: separate;
  border-spacing: 0;
}

:host caption,
:host th,
:host td {
  text-align: left;
  font-weight: normal;
}

:host blockquote:before,
:host blockquote:after,
:host q:before,
:host q:after {
  content: "";
}

:host blockquote,
:host q {
  quotes: "" "";
}

:host img,
:host picture,
:host video,
:host embed {
  max-width: 100%;
}

:host *,
:host *:before,
:host *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:host body {
  font-size: 62.5%;
  line-height: 1.8em;
  color: #2f353c;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

:host a {
  color: #2f353c;
  text-decoration: none;
}

/*a:hover {-moz-opacity:90; opacity: 0.9; -khtml-opacity: 0.9; filter: alpha(opacity = 90);}*/

:host strong {
  font-weight: bold;
}

:host em {
  font-style: italic;
}

:host small {
  font-size: 10px;
}

:host sub,
:host sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:host sup {
  top: -0.5em;
}

:host sub {
  bottom: -0.25em;
}

/* CLASSES GERAIS */

:host .clear {
  clear: both;
}

:host .imgr {
  background-repeat: no-repeat;
  display: block;
  text-indent: -9999em;
}

:host .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

:host .clearfix {
  display: inline-block;
}

:host html[xmlns] .clearfix {
  display: block;
}

:host * html .clearfix {
  height: 1%;
}

:host .clearfixtotal {
  width: 100%;
}

:host .img-button {
  cursor: pointer;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  padding: 0;
  vertical-align: middle;
}

:host .opacity:hover {
  -moz-opacity: 80;
  opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=80);
}

:host .no-opacity:hover {
  -moz-opacity: 100;
  opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100);
}

@media screen and (min-width: 1000px) {
  :host .opacityzero {
    -moz-opacity: 0;
    opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
  }
}

:host .lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

:host .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ff8e15;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff8e15 transparent transparent transparent;
}

:host .lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

:host .lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

:host .lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

:host .txt-center {
  text-align: center;
}

:host .mt-22 {
  margin-top: 22px;
}

:host .box,
:host .box3,
:host .box50 {
  display: flex;
  justify-content: space-between;
}

:host .box p {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 0 1em;
}

:host .box .txt-destaque {
  color: #2f353c;
  font-size: 2.6em;
  font-weight: 500;
  line-height: 1.1em;
}

:host .box .box-a {
  width: 55%;
}

:host .box .box-b {
  width: 40%;
}

:host .box3 .box-a {
  width: 30%;
}

:host .box3 .box-b {
  width: 30%;
}

:host .box3 .box-c {
  width: 30%;
}

:host .box50 .box-a {
  width: 48%;
}

:host .box50 .box-b {
  width: 48%;
}

:host .separador {
  height: 2px;
  margin: 0 -14px 25px;
  background-color: #eeeeee;
}

@media screen and (max-width: 430px) {
  :host .box3 {
    flex-direction: column;
  }
  :host .box3 .box-a,
  :host .box3 .box-b,
  :host .box3 .box-c {
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  :host .box {
    flex-direction: column;
  }
  :host .box .box-a,
  :host .box .box-b {
    width: 100%;
  }
}

/* HEADER */

:host #header-site {
  width: 100%;
  min-height: 310px;
  padding: 1.4em 0;
  background: rgb(248, 133, 35);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(248, 133, 35, 1) 0%,
    rgba(255, 108, 0, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(248, 133, 35, 1) 0%,
    rgba(255, 108, 0, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(248, 133, 35, 1) 0%,
    rgba(255, 108, 0, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f88523', endColorstr='#ff6c00', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

:host #header-site.bg-cinza {
  background: rgb(101, 103, 110);
  /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(101, 103, 110, 1) 0%,
    rgba(74, 77, 87, 1) 100%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(101, 103, 110, 1) 0%,
    rgba(74, 77, 87, 1) 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    rgba(101, 103, 110, 1) 0%,
    rgba(74, 77, 87, 1) 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#65676e', endColorstr='#4a4d57', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

:host #header-site .header-site {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

:host #logo {
  display: flex;
  align-items: center;
}

:host #header-site .opcoes {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.2em;
}

:host #header-site .sair {
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
}

:host #header-site .icone-login {
  margin: 0 0 0 2em;
}

:host #header-site .btn-voltar {
  margin: 0 0 0 2em;
  z-index: 10000000;
}

:host #header-site .btn-voltar button {
  font-weight: 500;
  line-height: 1em;
  display: block;
  padding: 0.8em 2.2em;
  border-radius: 30px;
  border: solid 2px #fff;
}

:host #header-site .btn-voltar button:hover {
  color: rgb(248, 133, 35);
  background: #fff;
}

@media screen and (max-width: 770px) {
  :host #header-site {
    min-height: 380px;
    padding: 4em 0;
  }
}

@media screen and (max-width: 555px) {
  :host #header-site .sair span {
    display: none;
  }
}

@media screen and (max-width: 455px) {
  :host #header-site .sair {
    display: none;
  }
  :host #header-site .btn-voltar {
    order: -1;
  }
  :host #header-site .btn-voltar button {
    border: none;
    padding: 0;
  }
}




/* FORMULARIO */

:host #formulario {
  width: 94%;
  max-width: 700px;
  margin: -240px auto 80px;
}

:host #formulario.relatorio {
  max-width: 625px;
}

:host #formulario .logo-form {
  text-align: center;
  margin: 0 0 2.8em;
}

:host .titulo-principal {
  color: #fff;
  font-size: 2.8em;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
  margin: 0 0 48px;
}

:host #formulario.relatorio .titulo-principal {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host #formulario.relatorio .titulo-principal a {
  color: #ff8400;
  font-size: 16px;
  font-weight: 500;
  padding: 16px 44px;
  border-radius: 10px;
  background-color: #fff;
}

:host #formulario.relatorio .titulo-principal a img {
  margin: 0 0 0 4px;
  vertical-align: middle;
}

:host .subtitulo,
:host .subtitulo-laranja {
  color: #2f353c;
  font-size: 2.8em;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
  margin: 0 0 1em;
}

:host .subtitulo-laranja {
  color: #ff8400;
  font-size: 2.5em;
  margin: 0 0 0.8em;
}

:host .subtitulo-laranja.tp2 {
  font-size: 17px;
  text-align: left;
}

:host .subtitulo2 {
  color: #6d7278;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 1em;
}

:host .icone-sucesso {
  text-align: center;
  margin-bottom: 20px;
}

:host #formulario .form {
  padding: 50px;
  border-radius: 30px;
  background-color: #fff;
  position: relative;
}

:host #formulario .form .tp2 label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host #formulario .form label span {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 0 1em;
  display: block;
}

:host #formulario .form .box3 label span {
  font-size: 1.5em;
}

:host #formulario .form .tp2 label span {
  width: 40%;
}

:host #formulario .form input[type="text"],
:host .form input[type="email"],
:host .form input[type="date"],
:host #formulario .form input[type="password"],
:host #formulario .form textarea {
  color: #6d7278;
  width: 100%;
  font-size: 15px;
  margin: 0 0 22px;
  padding: 22px 24px;
  border-radius: 10px;
  border: solid 1px #f3f3f3;
  background-color: #f3f3f3;
  font-family: "Poppins", sans-serif;
}

:host #formulario .form textarea {
  min-height: 120px;
}

:host #formulario .form .box3 input {
  font-size: 13px;
  padding: 22px 4px;
}

:host #formulario .form .tp2 label input {
  width: 60%;
}

:host #formulario .form .bg-porcentagem input {
  background: url(/assets/imgs/cadastro/bg-porcentagem.png) no-repeat 97% center
    #f3f3f3;
}

:host .radio {
  margin: 0 0 18px;
}

:host .radio input[type="radio"] {
  display: none;
}

:host .radio label {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  padding: 0 0 0 25px;
  margin-right: 20px;
}

:host .radio label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: 2px solid #ff8400;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: border-color 400ms ease;
}

:host .radio label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ff8400;
  border: 2px solid #ff8400;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(0);
  transition: transform 400ms ease;
}

:host .radio input[type="radio"]:checked + label::before {
  border-color: #ff8400;
}

:host .radio input[type="radio"]:checked + label::after {
  transform: translateY(-50%) scale(0.55);
}

:host #formulario .form .selecione {
  margin: 0 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host #formulario .form .feminino,
:host #formulario .form .masculino {
  width: 48%;
  min-height: 70px;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f3f3f3;
}

:host #formulario .form .feminino {
  background-image: url(/assets/imgs/cadastro/icone-feminino.png);
}

:host #formulario .form .feminino.selecionado {
  background-color: #ff8400;
  background-image: url(/assets/imgs/cadastro/icone-feminino2.png);
}

:host #formulario .form .masculino {
  background-image: url(/assets/imgs/cadastro/icone-masculino.png);
}

:host #formulario .form .masculino.selecionado {
  background-color: #ff8400;
  background-image: url(/assets/imgs/cadastro/icone-masculino2.png);
}

:host #formulario .form .selecione input {
  opacity: 0;
}

:host #formulario .form .esqueci-dados {
  color: #758696;
  font-size: 1.6em;
  line-height: 1.1em;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 32px;
}

:host #formulario .form button {
  width: 100%;
  color: #fff;
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 500;
  padding: 20px;
  border-radius: 10px;
  background-color: #ff8400;
  border: solid 2px #ff8400;
}

:host #formulario .form button img {
  margin: 0 0 2px 5px;
  vertical-align: middle;
}

:host #formulario .form button:hover {
  border: solid 2px #ff6b00;
}

:host #formulario .form button.bg-cinza {
  background-color: #758696;
  border: solid 2px #758696;
}

:host .info-filho {
  margin: 0 -18px;
  padding: 22px 18px 0;
  border-top: solid 2px #eeeeee;
}

:host .add-dados-filho,
:host .add-mais-beneficiario {
  color: #ff8400;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 22px;
  text-align: center;
  cursor: pointer;
}

:host .select {
  position: relative;
  display: block;
  max-width: 700px;
  /*AQUi*/
  min-width: 180px;
  margin: 0 auto 22px;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background: url(/assets/imgs/cadastro/bg-select.png) no-repeat 95% center
    #f3f3f3;
  z-index: 10;
}

:host .select select {
  border: none;
  outline: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  display: block;
  width: 100%;
  border-radius: 10px;
  padding: 20px 55px 20px 24px;
  font-size: 15px;
  color: #6d7278;
  font-family: "Poppins", sans-serif;
}

:host .loading {
  text-align: center;
  margin: 0 0 26px;
}

:host .msg-info {
  font-size: 16px;
  line-height: 1.4em;
  text-align: center;
  margin: 0 0 48px;
}

:host .msg-beneficio-fiscar {
  font-size: 1.6em;
  line-height: 1.6em;
  text-align: center;
  padding: 2em 0;
  margin: 0 0 32px;
  border-top: solid 1px #e3e3e4;
  border-bottom: solid 1px #e3e3e4;
}

:host .msg-beneficio-fiscar .destaque {
  color: #ff8400;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0.2em;
}

:host #formulario .form .capital-segurado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

:host #formulario .form .capital-segurado label {
  width: 24%;
  font-size: 1.6em;
}

:host #formulario .form .capital-segurado input {
  width: 46%;
}

:host #formulario .form .capital-segurado span {
  font-size: 1.6em;
  display: none;
}

:host #formulario .form .capital-segurado .valor {
  width: 20%;
  color: #ff8400;
  font-size: 1.6em;
  font-weight: 500;
}

:host #formulario .form .capital-segurado .Remover {
  width: 4%;
  color: #ff8400;
  font-size: 1.6em;
  font-weight: 500;
  padding-right: 3%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: wavy;
}

:host .msg-total-investimento {
  font-size: 1.6em;
  line-height: 1.6em;
  padding: 2em 0;
  margin: 0 0 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px #e3e3e4;
  border-bottom: solid 1px #e3e3e4;
}

:host .msg-total-investimento .destaque {
  width: 70%;
  color: #ff8400;
  font-size: 28px;
  font-weight: 500;
  margin: 0 0.2em;
}

:host .msg-renda {
  font-size: 1.6em;
  text-align: center;
  margin: -16px 0 40px;
}

:host #formulario .form .renda-mensal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

:host #formulario .form .renda-mensal span {
  font-size: 1.6em;
  display: none;
  margin: 0 0 0.7em;
}

:host #formulario .form .renda-mensal input {
  width: calc(100% - 220px);
  padding: 22px 16px;
}

:host #formulario .form .renda-mensal .item {
  width: 160px;
  margin: 8px 0 0;
}

:host #formulario .form .renda-mensal .item .valor {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 0.1em;
}

:host #formulario .form .renda-mensal .item .txt {
  font-size: 1.6em;
}

:host #formulario .form .endereco,
:host #formulario .form .bairro-complemento {
  display: flex;
  justify-content: space-between;
}

:host #formulario .form .div-endereco {
  width: calc(100% - 125px);
}

:host #formulario .form .div-numero {
  width: 100px;
}

:host #formulario .form .bairro-complemento div {
  width: 48%;
}

:host .forma-pagamento {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host .forma-pagamento input {
  opacity: 0;
}

:host .forma-pagamento .debito,
:host .forma-pagamento .credito,
:host .forma-pagamento .boleto {
  width: 32%;
  height: 75px;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f3f3f3;
}

:host .forma-pagamento .debito.selecionado,
:host .forma-pagamento .credito.selecionado,
:host .forma-pagamento .boleto.selecionado {
  background-color: #ff8400;
}

:host .forma-pagamento .debito {
  background-image: url(/assets/imgs/cadastro/icone-debito.png);
}

:host .forma-pagamento .debito.selecionado {
  background-image: url(/assets/imgs/cadastro/icone-debito-selecionado.png);
}

:host .forma-pagamento .credito {
  background-image: url(/assets/imgs/cadastro/icone-credito.png);
}

:host .forma-pagamento .credito.selecionado {
  background-image: url(/assets/imgs/cadastro/icone-credito-selecionado.png);
}

:host .forma-pagamento .boleto {
  background-image: url(/assets/imgs/cadastro/icone-boleto.png);
}

:host .forma-pagamento .boleto.selecionado {
  background-image: url(/assets/imgs/cadastro/icone-boleto-selecionado.png);
}

:host .div-forma-pagamento {
  display: none;
}

:host .div-forma-pagamento.selecionado {
  display: block;
}

:host #formulario.relatorio .personalizar {
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host #formulario.relatorio .personalizar .txt {
  color: #1d1d1b;
  font-size: 12px;
}

:host #formulario.relatorio .personalizar .txt img {
  margin: 0 0 0 5px;
  vertical-align: middle;
}

:host #formulario.relatorio .personalizar .item {
  color: #ffffff;
  font-size: 12px;
  padding: 12px 18px;
  border-radius: 5px;
  background-color: #748595;
}

:host #formulario.relatorio .personalizar .item span {
  font-size: 8px;
}

:host #formulario.relatorio .tabela {
  width: 100%;
  margin: 0 0 25px;
  border-collapse: collapse;
}

:host #formulario.relatorio .tabela thead th {
  color: #575756;
  font-size: 10px;
  padding: 10px;
}

:host #formulario.relatorio .tabela tbody th {
  font-size: 11px;
  padding: 10px;
}

:host #formulario.relatorio .tabela tbody th span {
  color: #ef8118;
  font-size: 12px;
}

:host #formulario.relatorio .tabela tbody td {
  color: #1d1d1b;
  font-size: 13px;
  padding: 10px;
}

:host #formulario.relatorio .tabela tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

:host #formulario.relatorio .tabela tfoot td {
  font-size: 12px;
  text-align: right;
  padding: 10px;
}

:host #formulario.relatorio .tabela tfoot td span {
  color: #ef8118;
  font-weight: 500;
}

@media screen and (max-width: 560px) {
  :host #formulario.relatorio .titulo-principal {
    flex-direction: column;
  }
  :host #formulario.relatorio .titulo-principal a {
    margin-top: 10px;
    padding: 10px 30px;
  }
}

@media screen and (max-width: 550px) {
  :host #formulario {
    margin-bottom: 40px;
  }
  :host #formulario .form {
    padding: 30px 18px;
    border-radius: 20px;
  }
  :host #formulario.relatorio {
    overflow: hidden;
  }
  :host #formulario.relatorio .form {
    width: 500px;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  :host #formulario .form .capital-segurado {
    margin: 0 0 3em;
  }
  :host #formulario .form .capital-segurado label,
  :host #formulario .form .capital-segurado input {
    width: 100%;
    margin: 0 0 14px;
  }
  :host #formulario .form .capital-segurado span {
    display: block;
  }
}

@media screen and (max-width: 430px) {
  :host .msg-total-investimento {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  :host .msg-total-investimento .txt {
    width: 100%;
    margin: 0 0 5px;
  }
  :host .msg-total-investimento .destaque {
    width: auto;
    margin: 0 0.2em 0 0;
  }
  :host .msg-total-investimento .mes {
    color: #ff8400;
    font-size: 28px;
    font-weight: 500;
  }
  :host #formulario .form .renda-mensal {
    margin: 0 0 30px;
    justify-content: space-around;
  }
  :host #formulario .form .renda-mensal span {
    width: 100%;
    display: block;
  }
  :host #formulario .form .renda-mensal input {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  :host .msg-beneficio-fiscar {
    text-align: left;
  }
  :host .msg-beneficio-fiscar .destaque-mobile {
    color: #ff8400;
    font-size: 28px;
    font-weight: 500;
    display: block;
    margin: 0.2em 0 0;
  }
  :host .msg-beneficio-fiscar .destaque {
    margin: 0;
  }
  :host #formulario .form .bairro-complemento {
    flex-direction: column;
  }
  :host #formulario .form .bairro-complemento div {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  :host #formulario .form .tp2 label {
    flex-direction: column;
  }
  :host #formulario .form .tp2 label span,
  :host #formulario .form .tp2 label input {
    width: 100%;
  }
}

/* FOOTER */

:host #footer-site {
  width: 96%;
  max-width: 950px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host #footer-site .logo-rodape {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host #footer-site .msg {
  width: calc(100% - 480px);
  font-size: 1.2em;
  line-height: 1.6em;
}

:host #footer-site .copyright {
  width: 270px;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.6em;
}

@media screen and (max-width: 790px) {
  :host #footer-site {
    flex-direction: column;
    padding: 30px 0;
  }
  :host #footer-site .logo-rodape,
  :host #footer-site .msg,
  :host #footer-site .copyright {
    width: 100%;
    text-align: center;
  }
  :host #footer-site .msg {
    margin: 20px 0;
  }
}

:host .renda-mensal-contratar {
  margin: 0 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

:host .renda-mensal-contratar .txt {
  font-size: 12px;
  font-weight: bold;
}

:host .renda-mensal-contratar .item {
  font-size: 12px;
  font-weight: bold;
  margin: 5px 2px;
  padding: 12px 14px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

:host .renda-mensal-contratar .item img {
  margin: 0 0 3px 4px;
  vertical-align: middle;
}

:host .evolucao-custos {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

:host .evolucao-custos .info {
  width: 116px;
}

:host .evolucao-custos .info .txt {
  font-size: 10px;
  line-height: 1.1em;
  margin: 0 0 4px;
}

:host .evolucao-custos .info .txt2 {
  font-size: 13px;
  line-height: 1.1em;
  font-weight: bold;
}

:host .evolucao-custos2 {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

:host .evolucao-custos2 .div-a {
  width: calc(100% - 140px);
}

:host .evolucao-custos2 .div-b {
  color: #fff;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background: #748595;
}

:host .evolucao-custos2 .div-b .icone {
  margin-bottom: 10px;
}

:host .evolucao-custos2 .div-b .info {
  font-size: 10px;
}

:host .evolucao-custos2 .div-b .info .valor {
  font-size: 11px;
  font-weight: bold;
}

:host .evolucao-custos2 .info-box:last-child {
  margin-bottom: 0;
}

:host .info-box {
  width: 100%;
  color: #fff;
  font-size: 12px;
  margin: 0 0 14px;
  padding: 12px 20px;
  border-radius: 5px;
  background: #748595;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:host .info-box span {
  font-weight: 500;
}

:host .info-box img {
  margin: 0 10px;
}

:host .protecao-periodo {
  display: flex;
  flex-wrap: wrap;
}

:host .protecao-periodo .info-box {
  width: 40%;
  margin-right: 5%;
}

:host .total-investido-seguros {
  display: flex;
  align-items: center;
}

:host .total-investido-seguros .txt {
  width: 102px;
  font-size: 11px;
}

:host .total-investido-seguros img {
  max-width: 14px;
  margin-right: 4px;
  margin: 0 10px;
}

:host .total-investido-seguros .valor {
  color: #eb6608;
  font-size: 16px;
  font-weight: bold;
}

:host .btn-visualizar-pdf {
  display: none;
}

@media screen and (max-width: 525px) {
  :host .btn-visualizar-pdf {
    width: 100vw;
    height: 100%;
    padding: 200px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 30px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
  }
  :host .btn-visualizar-pdf a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding: 12px 30px;
    border-radius: 30px;
    background-color: #eb6608;
  }
}

:host .msg-erro-form {
  display: block;
  color: red;
  margin: 3px 0px 5px;
}







